html {
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  background-color: #040714;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
.contenedor-1 {
  padding: 80px;
  display: flex;
  flex-direction: row-reverse;
}
@media only screen and (max-width: 1000px) {
  .contenedor-1 {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }

  .parrafo-1 {
    margin-left: auto;
    margin-right: auto;
  }
  .contenedor-2 {
    flex-direction: row;
  }
}

.contenedor-2 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  box-sizing: border-box;
  padding: 4vw;
}

h2 {
  margin-top: auto;
  font-weight: 600;
  font-size: 40px;
  color: #f9f9f9;
}
.container-text {
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
}
p {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 20px;
  color: silver;
}
.padre {
  width: 100vw;
  display: flex;
  /* flex-wrap: wrap;
  flex-direction: row; */
  flex-flow: row wrap;
  gap: 1vw;
  padding: 0;
}
.hijos {
  width: 28vw;
  height: auto;

  background-image: cover;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

/* .mandaloream {
  max-width: 50%;
}
 */
@media only screen and (max-width: 1000px) {
  .mandaloream {
    width: 100%;
    padding: 1rem;
  }
}
@media only screen and (min-width: 1000px) {
  .mandaloream {
    width: 50%;
  }
}
