html {
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  background-color: #040714;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
.sticky {
  background-color: transparent;
  opacity: 1;
  pointer-events: none;
  z-index: 3;
}
nav {
  position: sticky;
  top: 20px;
  padding: 0 12px 0 20px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  z-index: 5;
}
.boton1 {
  color: white;
  padding: 8px 16px;
  margin: 5px;
  background-color: transparent;
  border: white solid 1px;
  border-radius: 4px;
  text-decoration: none;
  z-index: 4;
}
.boton1:hover {
  background-color: white;
  color: black;
}
.contenedor-0 {
  color: white;
  display: flex;
  min-height: 75vh;
  width: 100%;
}
.hero {
  background-image: url("..//assets/original0.jpeg");
  height: inherit;
  width: inherit;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-position: top;
  background-size: 100%;
  z-index: 0;
}
.hero1 {
  display: none;
}
.contenedor-inicial {
  margin-left: 3rem;
  padding: 3rem;
  box-sizing: border-box;
  width: 50%;
  z-index: 1;
}
.imagendisney {
  width: 180px;
  height: 97px;
}
h1 {
  font-size: 44px;
}
.boton {
  font-size: 24px;
  color: white;
  padding: 20.5px 33px;
  margin-bottom: 40px;
  border-radius: 4px;
  height: 68px;
  max-width: 700px;
  border-color: transparent;
  background-color: #6421ff;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 1px;
}
.boton:hover {
  background-color: #7828ff;
  color: white;
}
@media only screen and (max-width: 1024px) {
  .hero1 {
    display: block;
    background-image: url("..//assets/original1.jpeg");
    max-height: 100vh;
    width: inherit;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-position: top;
    background-size: 100%;
  }
  h1 {
    font-size: 32px;
  }
  .hero {
    display: none;
  }
  .contenedor-0 {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    min-height: 75vh;
    width: 100vw;
  }
  .contenedor-inicial {
    margin: 0;
    padding: 40vw 5vw 10vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 791px) {
  .imagendisney {
    width: 130px;
    height: 70px;
  }
}
.contenedor-1 {
  padding: 80px;
  display: flex;
  flex-direction: row-reverse;
}
@media only screen and (max-width: 1000px) {
  .contenedor-1 {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }

  .parrafo-1 {
    margin-left: auto;
    margin-right: auto;
  }
  .contenedor-2 {
    flex-direction: row;
  }
}

.contenedor-2 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  box-sizing: border-box;
  padding: 4vw;
}

h2 {
  margin-top: auto;
  font-weight: 600;
  font-size: 40px;
  color: #f9f9f9;
}
.container-text {
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
}
p {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 20px;
  color: silver;
}
.padre {
  /* width: 100vw; */
  display: flex;
  /* flex-wrap: wrap;
  flex-direction: row; */
  flex-flow: row wrap;
  gap: 1vw;
  padding: 0;
}
.hijos {
  width: 28vw;
  height: auto;

  background-image: cover;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 1000px) {
  .mandaloream {
    width: 100%;
    padding: 1rem;
  }
}
@media only screen and (min-width: 1000px) {
  .mandaloream {
    width: 50%;
  }
}

.contenedor-3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5.6vw;
  font-size: 20px;
  margin-top: 20px;
  transition: all 300ms ease;
}
.titulo-c3 {
  text-align: center;
}
summary {
  background: #13151d;
  list-style: none;
  color: #f9f9f9;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: all 300ms ease;
}
.contenido-acordeon {
  padding: 0 20px 20px 20px;
  background: #13151d;
  color: silver;
}
h4 {
  margin-top: 0px;
  color: silver;
}

footer {
  padding: 5vw;

  font-size: 12px;
}
.container-footer {
  color: silver;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  gap: 20px;
}
.imagen-footer {
  width: 85px;
}
.container-footer2 {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px auto 0;
  max-width: 1024px;
  padding: 0 8px;
  position: relative;
  gap: 20px;
}
.parrafo-footer {
  text-align: center;
  font-size: 12px;
}
