html {
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  background-color: #040714;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
.sticky {
  background-color: transparent;
  opacity: 1;
  pointer-events: none;
  z-index: 3;
}
nav {
  position: sticky;
  top: 20px;
  padding: 0 12px 0 20px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  text-decoration: none;
}
a {
  color: white;
  padding: 8px 16px;
  margin: 5px;
  background-color: transparent;
  border: white solid 1px;
  border-radius: 4px;
  text-decoration: none;
  z-index: 4;
}
a:hover {
  background-color: white;
  color: black;
}
.contenedor-0 {
  color: white;
  display: flex;
  min-height: 75vh;
  width: 100%;
}
.hero {
  background-image: url("..//assets/original0.jpeg");
  height: inherit;
  width: inherit;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-position: top;
  background-size: 100%;
  z-index: 0;
}
.hero1 {
  display: none;
}
.contenedor-inicial {
  box-sizing: border-box;
  width: 50%;
  z-index: 1;
}
.imagendisney {
  width: 25vw;
}
@media only screen and (max-width: 1024px) {
  .hero1 {
    display: block;
    background-image: url("..//assets/original1.jpeg");
    max-height: 75vh;
    width: inherit;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-position: top;
    background-size: 100%;
  }
  .hero {
    display: none;
  }
  .contenedor-0 {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    min-height: 75vh;
    width: 100vw;
  }
  button {
    background-color: #7828ff;
  }

  .contenedor-inicial {
    padding: 40vw 5vw 10vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
  }
}
.contenedor-1 {
  padding: 80px;
  display: flex;
  flex-direction: row-reverse;
}
@media only screen and (max-width: 1000px) {
  .contenedor-1 {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }

  .parrafo-1 {
    margin-left: auto;
    margin-right: auto;
  }
  .contenedor-2 {
    flex-direction: row;
  }
}

.contenedor-2 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  box-sizing: border-box;
  padding: 4vw;
}

h2 {
  margin-top: auto;
  font-weight: 600;
  font-size: 40px;
  color: #f9f9f9;
}
.container-text {
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
}
p {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 20px;
  color: silver;
}
.padre {
  width: 100vw;
  display: flex;
  /* flex-wrap: wrap;
  flex-direction: row; */
  flex-flow: row wrap;
  gap: 1vw;
  padding: 0;
}
.hijos {
  width: 28vw;
  height: auto;

  background-image: cover;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

/* .mandaloream {
  max-width: 50%;
}
 */
@media only screen and (max-width: 1000px) {
  .mandaloream {
    width: 100%;
    padding: 1rem;
  }
}
@media only screen and (min-width: 1000px) {
  .mandaloream {
    width: 50%;
  }
}
